<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HttpRequest</title>
</head>
<body>
    <center>
{#            注意这个根路径#}
        <form action="regist" method="get">
            userName: <input type="text" name="userName" value=""><br>
            gender: <input type="radio" value="1" name="gender">male
            <input type="radio" value="0" name="gender">female<br>
            hobby: <input type="checkbox" name="hobby" value="power">power<input type="checkbox" name="hobby" value="money">
            money<input type="checkbox" name="hobby" value="status">status<br>
            <input type="submit" value="regist">
        </form>
    </center>
</body>
</html>